.product
  display: grid
  grid-template-columns:[start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle]  auto [pricectart] auto  [priceend] 40px  [creditstart] auto [creditend]  40px [ratestart] auto [end]
  padding: 30px


.logo
  grid-column: start / logoend
  grid-row: 1 / span 2

.title, .tag
  grid-column: titlestart/middle

.price, .priceTitle
  grid-column: pricectart/ priceend

.credit, .creditTitle
   grid-column: creditstart/ creditend 

.rating, .rateTitle
  grid-column: ratestart / end

.hr, .descr, .actions
  grid-column: start/end

.feature
  grid-column: start/ middle

.advs
  grid-column: middle/end