html,
body{
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #F5F6F8;

  font-family: 'Lato', sans-serif;
}

a{
  text-decoration: none;

  color: inherit;
}

*{
  box-sizing: border-box;
}

.mb-3{
  margin-bottom: 30px;
}

:root {
  --black: #3B434E;
  --grey-light: #EBEBEB;
  --grey-dark: #787D85;
  --white: #FFFFFF;
  --primary: #7653FC;
  --primary-hover: #553cb9;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: 'Lato', sans-serif;
}